{% extends "base.html" %}

{% block title %}Pomodoro Timer - Home{% endblock %}

{% block content %}
<div class="timer">
    <h2 id="timer">25:00</h2>
    <button id="start-button">Start</button>
</div>
<form action="/start" method="POST" class="user-form">
    <label for="user">Enter Your Username:</label>
    <input type="text" id="user" name="user" placeholder="Enter your name" required>
    <button type="submit">Track Session</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
